// Nastavení proměnných a funkcí
$imgRuzPoz: url('images/jahoda-modra.jpg');
$colorRuzPoz: rgb(255, 174, 201);
$colorSvZel: rgb(171, 245, 51);
$colorTmSed: rgb(65, 65, 65);
$colorFial: rgb(197, 20, 64);
@mixin nastObr {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
body {
  .nazvy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .popisek {
      text-align: center;
      padding: 0 25%;
    }
  }
  font-family: 'Poppins', sans-serif;
  color: $colorTmSed;
  //hlavička
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.4)12%, rgba(0,0,0,0)25%) ,url('images/pozadi-jahoda.png');
    @include nastObr;
    height: 400px;
    color: white;
    .hlav1 {
      height: 12%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      div {
        margin: 10px 20px;
      }
      .logo {
        width: 5%;
        text-align: center;
      }
      .menu {
        width: 65%;
        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          li {
            margin: 0 10px;
            text-transform: uppercase;
            cursor: pointer;
          }
          .here {
            text-decoration: underline;

          }
        }
      }
      .soc {
        width: 30%;
        text-align: right;
        a .fab {
          border: 1px solid white;
          border-radius: 100%;
          padding: 3px;
          margin: 0 5px; 
          color: white;
        }
      }  
    }
    .hlav2 {
      
      height: 88%;
      display: flex;
      justify-content: center;
      align-items: center;
      .nazev {
        font-family: 'Dancing Script', cursive;
        font-weight: 700;
        font-size: 3em;
      }
    }
  }
    
  main {
    h2, h3 {
      margin: 30px 0 20px 0;
      text-align: center;
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
    }
    //1. sekce
    .info {
      margin-top: 50px;
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .infoOblast {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 80vw;
        @media only screen and (max-width: 900px) {
          flex-direction: column;
          align-items: center;
        }
        .infoImg {
          width: 45%;
          height: 300px;
          background: $imgRuzPoz;
          opacity: 0;
          animation: objevení 1s ease-in-out 1s both;
          @include nastObr;
          background-size: contain;
          @media only screen and (max-width: 900px) {
            width: 100%;
          }
        }
        .infoSeznam {
          width: 45%;
          @media only screen and (max-width: 900px) {
            width: 100%;
          }
          #iS1 {
            opacity: 0;
            animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0s both;
            &:hover {
              transform: scale(1.1);
            }
          }
          #iS2 {
            opacity: 0;
            animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.25s both;
            &:hover {
              transform: scale(1.1);
            }
          }
          #iS3 {
            opacity: 0;
            animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.5s both;
            &:hover {
              transform: scale(1.1);
            }
          }
          #iS4 {
            opacity: 0;
            animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.75s both;
            &:hover {
              transform: scale(1.1);
            }
          }
          .infoRadek {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            margin: 10px 0;
            padding: 10px;
            .ikonaSeznamu {
              grid-row: 1 / 3;
              width: calc(2vw + 30px);
              height: calc(2vw + 30px);
              font-size: 1.7em;
              border-radius: 100%;
              background-color: $colorSvZel;
              margin: 10px;
              color: white;
              display: flex;
              flex-wrap: nowrap;
              justify-content: center;
              align-items: center;
              box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            }
            .nadpisIkony {
              font-weight: 700;
            }
            .popisekIkony {
              font-size: .8em;
            }
          }
        }
      }   
    }
    //2. sekce
    .vyber {
      margin: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @media only screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
      }
      div[class^="box"] {
        //div[class^="box"] = začíná slovem box (box1-3)
        border: 1px solid rgb(180, 180, 180);
        width: 25%;
        padding: 30px;
        text-align: center;
        background: rgb(223, 223, 223);
        -moz-background: rgb(245, 245, 245);
        transition: all .3s ease-in-out;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
        }
        @media only screen and (max-width: 900px) {
          width: 100%;
          margin: 20px;
        }
        h4 {
          font-size: 1.2em;
          margin: 5px 0 20px 0;
        }
        .procent {
          text-align: center;
          .procenta {
            font-size: 3em;
            font-family: 'Oleo Script Swash Caps', cursive;
            font-weight: 700;
          }
          .veStrave {
            font-size: 1.5em;
            font-weight: 600;
          }
        }
      }
    }
    // 3. sekce
    .energieCele {
      color: white;
      margin: 40px 0;
      padding: 10px 0 35px 0;
      background: rgb(57, 150, 15);
      .nadpisTab {
        text-align: center;
        margin-bottom: 30px;
        h3 {
          margin-bottom: 5px;
          margin-top: 15px;
        }
      }
      .energie {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        h4 {
          text-align: center;
          font-size: 1.3em;
        }
        .vydprijTab {
          width: 30vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .tabRada {
            &:hover {
              transform: scale(1.1);
            }
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .bunka {
              width: auto;
            }
          }
        }
      }
    }
    // ! ANNA - upravuj pouze pod tímto komentářem
    .galerie {
      .container {
        margin: 40px;
        max-width: 120rem;
        padding: 0 1.5rem;
    }
    
    .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1.5rem;
        grid-template-areas:
            'img-1 img-2 img-3 img-3'
            'img-1 img-4 img-5 img-6'
            'img-7 img-7 img-8 img-6';
    
    }
    
    .image-gallery a {
        width: 100%;
        height: 25rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgba(0, 0, 0, 0);
        text-decoration: none;
        span {
          font-size: 1.2em;
          font-weight: 600;
        }
    
    }
    
    .image-gallery a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: opacity .5s;
    }
    .image-gallery a::after {
      opacity: 0;
    }
    .image-gallery a:hover,
    .image-gallery a:hover::before {
        opacity: 1;
        color: white;
    }
    
    .img-1 {
        grid-area: img-1;
        min-height: 51.5rem;
        background-image: url("images/img-1.jpg");
    
    }
    
    .img-2 {
        grid-area: img-2;
        background-image: url("images/img-2.jpg");
    
    }
    
    .img-3 {
        grid-area: img-3;
        background-image: url("images/img-3.jpg");
    
    }
    
    .img-4 {
        grid-area: img-4;
        background-image: url("images/img-4.jpg");
    
    }
    
    .img-5 {
        grid-area: img-5;
        background-image: url("images/img-5.jpg");
    
    }
    
    .img-6 {
        grid-area: img-6;
        min-height: 51.5rem;
        background-image: url("images/img-6.jpg");
    
    }
    
    .img-7 {
        grid-area: img-7;
        background-image: url("images/img-7.jpg");
    
    }
    
    .img-8 {
        grid-area: img-8;
        background-image: url("images/img-8.jpg");
    
    }
    
    @media screen and (max-width: 900px) {
        .image-gallery {
            grid-template-areas:
                'img-1 img-1 img-2 img-2'
                'img-1 img-1 img-3 img-3'
                'img-4 img-4 img-5 img-5'
                'img-6 img-7 img-7 img-7'
                'img-8 img-8 img-8 img-8';
        }
    
        .image-gallery a {
            height: 20rem;
        }
    
        .img-1 {
            min-height: 41.5rem;
        }
    
        .img-6 {
            min-height: 20rem;
    
        }
    
    }
    }
    .kviz {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      iframe {
        padding: 20px;
        width: 100%;
        height: 40vh;
        min-height: 200px;
      }
    }
  }
  .ppp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #prvniAcc {
      border-top: 2px solid black;
    }
    #posledniAcc {
      border-bottom: 2px solid black;
    }
    div[class^="accPole"] {
      border: 1px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      width: calc(100% - 40px);
      .aktivacni {
        background: rgb(223, 223, 223);
        border-bottom: 2px;
        margin: 0;
        padding: 0;
        h4 {
          padding: 10px;
          text-align: center;
        }
      }
      .obsahAcc {
        background: rgb(255, 255, 255);
        display: none;
      }
    }
  }
  footer {
    background: rgb(95, 143, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
    .menu {
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
          margin: 0 10px;
          text-transform: uppercase;
          cursor: pointer;
        }
        .here {
          text-decoration: underline;

        }
      }
    }
    .soc {
      width: 30%;
      text-align: right;
      a .fab {
        color: white;
        border: 1px solid white;
        border-radius: 100%;
        padding: 3px;
        margin: 0 5px; 
      }
    }  
  }
}
@keyframes přílet {
  0% {
    opacity: 0;
    transform: translate(-20vw, 0) scale(0.1) rotate(50deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes objevení {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text{
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}