@charset "UTF-8";

* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #414141;
  font-size: 1.1em;
}

body .nazvy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5%;

}

body .nazvy .popisek {
  text-align: center;
  padding: 0 25%;
}

body header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(0, 0, 0, 0.4)), color-stop(25%, rgba(0, 0, 0, 0))), url("../images/pozadi-jahoda.png");
  background: linear-gradient(rgba(0, 0, 0, 0.4) 12%, rgba(0, 0, 0, 0) 25%), url("../images/pozadi-jahoda.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  color: white;

}


body header .hlav1 {
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

body header .hlav1 div {
  margin: 10px 30px;
}

li a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #F24685;
}

body header .hlav1 .logo {
  width: 5%;
  text-align: center;
}

body header .hlav1 .menu {
  width: 45%;
  margin: 1em auto;
}

body header .hlav1 .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
}

body header .hlav1 .menu ul li {
  margin: 0 10px;
  text-transform: uppercase;
  cursor: pointer;

}

body header .hlav1 .menu ul .here {
  text-decoration: non-underline;
}

body header .hlav1 .soc {
  width: 30%;
  text-align: right;
}

body header .hlav1 .soc a .fab {
  border: 1px solid white;
  border-radius: 100%;
  padding: 3px;
  margin: 0 5px;
  color: white;
}

body header .hlav2 {
  height: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .hlav2 .nazev {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 3em;
}

body main h2,
body main h3 {
  margin: 20px 0;
  text-align: center;
  font-size: 4.5em;
  font-weight: 800;
  color: #F24685;

  text-decoration: underline;


}

body main h3 {
  font-size: 2.4em;
  color: #F24685;
  text-decoration: none;

}

body main .info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

body main .info .infoOblast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 80vw;
}

@media only screen and (max-width: 900px) {
  body main .info .infoOblast {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

div.infoImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


@media only screen and (max-width: 900px) {
  body main .info .infoOblast .infoImg {
    width: 100%;
  }
}

body main .info .infoOblast .infoSeznam {
  width: 45%;
}

@media only screen and (max-width: 900px) {
  body main .info .infoOblast .infoSeznam {
    width: 100%;
  }
}

body main .info .infoOblast .infoSeznam #iS1 {
  opacity: 0;
  -webkit-animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0s both;
  animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0s both;
}

body main .info .infoOblast .infoSeznam #iS1:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body main .info .infoOblast .infoSeznam #iS2 {
  opacity: 0;
  -webkit-animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.25s both;
  animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.25s both;
}

body main .info .infoOblast .infoSeznam #iS2:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body main .info .infoOblast .infoSeznam #iS3 {
  opacity: 0;
  -webkit-animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.5s both;
  animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.5s both;
}

body main .info .infoOblast .infoSeznam #iS3:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body main .info .infoOblast .infoSeznam #iS4 {
  opacity: 0;
  -webkit-animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.75s both;
  animation: přílet 1s cubic-bezier(0.8, 0, 0.2, 1) 0.75s both;
}

body main .info .infoOblast .infoSeznam #iS4:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body main .info .infoOblast .infoSeznam .infoRadek {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  margin: 10px 0;
  padding: 10px;
}

body main .info .infoOblast .infoSeznam .infoRadek .ikonaSeznamu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  width: calc(2vw + 30px);
  height: calc(2vw + 30px);
  font-size: 1.7em;
  border-radius: 100%;
  background-color: #abf533;
  margin: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

body main .info .infoOblast .infoSeznam .infoRadek .nadpisIkony {
  font-weight: 600;
  color: #F24685;
  text-transform: uppercase;
  font-size: 1.4em;
}

body main .info .infoOblast .infoSeznam .infoRadek .popisekIkony {
  font-size: 1.1em;
}

body main .vyber {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;

}

@media only screen and (max-width: 900px) {
  body main .vyber {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

body main .vyber div[class^="box"] {
  border: 1px solid #abf533;
  ;
  width: 25%;
  padding: 30px;
  text-align: center;
  background: #abf533;
  ;
  -moz-background: whitesmoke;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 2em;
}

body main .vyber div[class^="box"]:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 900px) {
  body main .vyber div[class^="box"] {
    width: 100%;
    margin: 20px;
  }
}

body main .vyber div[class^="box"] h4 {
  font-size: 1.4em;
  margin: 5px 0 20px 0;
  text-transform: uppercase;
}

body main .vyber div[class^="box"] .procent {
  text-align: center;
}

body main .vyber div[class^="box"] .procent .procenta {
  font-size: 3em;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-weight: 700;
}

body main .vyber div[class^="box"] .procent .veStrave {
  font-size: 1.5em;
  font-weight: 600;
}

body main .energieCele {
  color: #414141;
  margin: 40px 130px;
  height: 650px;
  padding: 40px 60px;
  background: #abf533;
  border-radius: 2em;
}

body main .energieCele .nadpisTab {
  text-align: center;
  margin-bottom: 30px;
}

body main .energieCele .nadpisTab h3 {
  margin-bottom: 5px;
  margin-top: 30px;
}

body main .energieCele .energie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

body main .energieCele .energie h4 {
  text-align: center;
  font-size: 1.3em;

}

body main .energieCele .energie .vydprijTab {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body main .energieCele .energie .vydprijTab .tabRada {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body main .energieCele .energie .vydprijTab .tabRada:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body main .energieCele .energie .vydprijTab .tabRada .bunka {
  width: auto;
}

/*Pyramida*/
.pyramida {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.flexbox-pyramida {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: 5%;
}

p {
  font-size: 1.1em;
  margin: 0 2em;
}

.pyramidka {
  width: 30%;

}

/*Pyramida konec*/

body main .galerie .container {
  margin: 40px;
  max-width: 120rem;
  padding: 0 1.5rem;
}

body main .galerie .image-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: 'img-1 img-2 img-3 img-3'
    'img-1 img-4 img-5 img-6'
    'img-7 img-7 img-8 img-6';
}

body main .galerie .image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

body main .galerie .image-gallery a span {
  font-size: 1.2em;
  font-weight: 600;
}

body main .galerie .image-gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

body main .galerie .image-gallery a::after {
  opacity: 0;
}

body main .galerie .image-gallery a:hover,
body main .galerie .image-gallery a:hover::before {
  opacity: 1;
  color: white;
}

body main .galerie .img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url("../images/galerie/img-1.jpg");
}

body main .galerie .img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-2;
  background-image: url("../images/galerie/img-2.jpg");
}

body main .galerie .img-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img-3;
  background-image: url("../images/galerie/img-3.jpg");
}

body main .galerie .img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img-4;
  background-image: url("../images/galerie/img-4.jpg");
}

body main .galerie .img-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img-5;
  background-image: url("../images/galerie/img-5.jpg");
}

body main .galerie .img-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: img-6;
  min-height: 51.5rem;
  background-image: url("../images/galerie/img-6.jpg");
}

body main .galerie .img-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-7;
  background-image: url("../images/galerie/img-7.jpg");
}

body main .galerie .img-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img-8;
  background-image: url("../images/galerie/img-8.jpg");
}

@media screen and (max-width: 900px) {
  body main .galerie .image-gallery {
    grid-template-areas: 'img-1 img-1 img-2 img-2'
      'img-1 img-1 img-3 img-3'
      'img-4 img-4 img-5 img-5'
      'img-6 img-7 img-7 img-7'
      'img-8 img-8 img-8 img-8';
  }

  body main .galerie .image-gallery a {
    height: 20rem;
  }

  body main .galerie .img-1 {
    min-height: 41.5rem;
  }

  body main .galerie .img-6 {
    min-height: 20rem;
  }
}

body footer {
  background: #F24685;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  color: white;
}

body footer .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;

}

body footer .menu ul li {
  margin: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

body footer .menu ul .here {
  text-decoration: none;
}

body footer .soc {
  width: 100%;
  text-align: center;
}

body footer .soc a .fab {
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 3px;
  margin: 0 5px;
}

@-webkit-keyframes přílet {
  0% {
    opacity: 0;
    -webkit-transform: translate(-20vw, 0) scale(0.1) rotate(50deg);
    transform: translate(-20vw, 0) scale(0.1) rotate(50deg);
  }

  100% {
    opacity: 1;
  }
}

@keyframes přílet {
  0% {
    opacity: 0;
    -webkit-transform: translate(-20vw, 0) scale(0.1) rotate(50deg);
    transform: translate(-20vw, 0) scale(0.1) rotate(50deg);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes objevení {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes objevení {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text {
  0% {
    color: rgba(0, 0, 0, 0);
  }

  100% {
    color: white;
  }
}

@keyframes text {
  0% {
    color: rgba(0, 0, 0, 0);
  }

  100% {
    color: white;
  }
}

/*# sourceMappingURL=reklama.css.map */